@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Titan+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

#home-container {
  background-color: white;
  padding-bottom: 100px;
}

#home-container p{
 text-align: justify;
 text-justify: inter-word;
 padding: 0px 15px;
 font-family: "Gowun Dodum", sans-serif;
 font-size: large;
}


#home-container h2 {
  margin-top: 100px;
  font-family: "Graduate", serif; 
  color: #124076;
}

#home-container h1 {
  font-family: "Graduate", serif; 
  color: #124076;
  font-size: 40px;
  margin-top: 60px;
}

#home-container h3 {
  font-family: "Graduate", serif; 
}

#home-container section {
  padding: 40px 0px 10px 0px;
  height: 300px;
}

#home-container div i {
  font-size: 40px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 50%;
  color: #124076;
}

#home-container article div i {
  background-color: rgb(230, 241, 253);
}

#home-container #articles {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1500px) {
  #articles {
    padding-left: 550px; 
    padding-right: 550px; 
  }

  #home-container h1 {
  font-family: "Graduate", serif; 
  color: #124076;
  font-size: 70px;
  margin-top: 60px;
}
}