@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Titan+One&display=swap");


#container {
  background-color: #f7e3f7;
  box-shadow: 0px 10px 10px #f7e3f7;
}

#home-container h4 {
  margin-top: 40px;
}

#home-container section {
  padding: 40px 0px 10px 0px;
  height: 300px;
}

#home-container section h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 55px;
  margin: 0;
}

#home-container section h3 {
  font-family: "Titan One", cursive;
}

#home-container section button {
  margin-top: 20px;
  width: 90px;
  height: 30px;
  background-color: rgb(34, 33, 33);
  border: 2px solid black;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

#home-container section button:hover {
  background-color: white;
  color: black;
}


#home-container article {
  margin: 30px 10px 0px 10px;
}

#home-container div i {
  font-size: 40px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 50%;
}

#home-container article div i {
  background-color: rgb(199, 247, 247);
}

#home-container #articles {
  display: flex;
  flex-direction: column;
}
