body {
  background-color: #f7e3f7;
}

.food-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  text-align: left;
}

.food-container h4,
h5 {
  margin: 5px;
}

.food-container button {
  width: 35px;
  height: 35px;
  font-size: 25px;
  color: white;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}

.food-container button:hover {
  color: black;
  background-color: white;
}
.food-container div:last-child {
  padding: 10px;
}

#search-container {
  display: flex;
  margin: 20px 10px;
  align-items: center;
  justify-content: center;
}

#search-container input {
  width: 16rem;
  margin-right: 10px;
  height: 25px;
  border: 1px solid black;
  border-radius: 3px;
}

#search-container button {
  width: 30px;
  height: 30px;
  color: black;
  background-color: white;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 5px;
}
