nav {
  background-color: black;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}
