/* body {
  background-color: #f7e3f7;
} */

#add-meal-container {
  margin-top: 100px;
  background-color: white;
  height: 100%;
}

#add-meal-container h1 {
  font-family: "Graduate", serif;
  color: #124076;
}

.food-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  border: 2px solid #124076;
  border-radius: 10px;
  background-color: #e9e7e7;
  text-align: left;
  font-family: "Gowun Dodum", sans-serif;
  color: #124076;
}

.food-container h4,
h5 {
  margin: 5px;
  font-family: "Gowun Dodum", sans-serif;
  color: #124076;
}

.food-container button {
  width: 35px;
  height: 35px;
  font-size: 25px;
  color: white;
  background-color: #124076;
  border: 2px solid #124076;
  border-radius: 5px;
}

.food-container button:hover {
  color: black;
  background-color: white;
}
.food-container div:last-child {
  padding: 10px;
}

#search-container {
  display: flex;
  padding: 20px 10px;
  align-items: center;
  justify-content: center;
}

#search-container i {
  position: relative;
  left: 25px;
  top: 2px;
  color: #124076;
}

#search-container input {
  width: 16rem;
  margin-right: 10px;
  height: 25px;
  border: 1px solid #124076;
  border-radius: 20px;
  text-indent: 30px;
}

#search-container button {
  width: 30px;
  height: 30px;
  color: #124076;
  background-color: white;
  font-size: 25px;
  border: 2px solid #124076;
  border-radius: 100%;
}

.popup-content {
  width: 80% !important;
  height: auto;
  border-radius: 10px;
  border: 4px solid #124076 !important;
  background-color: #E5E5E5 !important;
}

.popup-content .name-container {
  text-align: center;
}

.popup-content .food-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  font-weight: 700;
  font-size: medium;
  text-align: center;
}

.popup-content .food-info-container #cal-p {
  font-weight: 900;
  font-size: large;
}

.popup-content .input-container {
  text-align: center;
  margin-top: 20px;
}

.popup-content .input-container label {
  font-weight: 500;
}

.popup-content .input-container input {
  margin: 0px 10px;
  border: 1px solid #124076;
  border-radius: 5px;
  width: 50px;
  height: 20px;
  text-indent: 10px;
}

.popup-content .btn-container {
  text-align: center;
  margin-top: 40px;
}

.popup-content .btn-container button {
  border: none;
  background-color: #124076;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  width: 40%;
  height: 25px;
  margin: 10px;
  font-family: "Gowun Dodum", sans-serif;
}

.popup-content .btn-container button:hover {
  background-color: white;
  cursor: pointer;
  color: black;
  border: 2px solid black;
}

#add-food-text {
  font-family: "Gowun Dodum", sans-serif;
  color: #124076;
}

#nutrient-container #one{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#nutrient-container #two{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#nutrient-container #three{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

#nutrient-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

#nutrient-container input {
  color: #124076;
  font-family: "Gowun Dodum", sans-serif;
}

#nutrient-container label {
  color: #124076;
  font-family: "Gowun Dodum", sans-serif;
}

.add-food-form {
  align-items: center;
  color: #124076;
  font-family: "Gowun Dodum", sans-serif;
}

.add-food-form h2 {
  font-weight: 800;
}

#nutrient-container #two input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #b0c3d9;
  border: 1px #124076 solid;
  border-radius: 5px;
}

@media only screen and (min-width: 1450px) {
  .food-container {
    margin-left: 300px;
    margin-right: 300px;
  }

  #search-container input {
    width: 30rem;
  }

  .popup-content {
    width: 25% !important;
  }

  .popup-content .food-info-container {
    flex-direction: row;
  }

  .popup-content .food-info-container #cal-p {
    font-weight: 700;
    font-size: medium;
  }

  #nutrient-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
}
