@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');


#login-container {
    background-color: white;
    height: 100%;
}

.login{
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 100%;
}

.login h1 {
    font-family: "Graduate", serif;
    color: #124076;
}

.login label {
    display: block;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: large;
    font-family: "Graduate", serif;
}

.login div {
    margin-bottom: 30px;
}

.login input {
    width: 70%;
    height: 35px;
    text-indent: 30px; 
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    border-color: #124076;
}

.login i {
    position: relative;
    left: 25px;
    top: 2px;
}

.login button {
  width: 13rem;
  height: 35px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #124076;
  border: 5px solid #124076;
  border-radius: 25px;
  font-family: "Graduate", serif;  
}

.login button:hover {
  color: black;
  background-color: white;
}

.login p {
    font-weight: 400;
    margin-bottom:3rem;
}

.login img {
    margin-top: 70px;
}

#sign-up-link {
    color: rgb(20, 20, 87);
}

@media only screen and (min-width: 1450px) {
    #login-container form{
        padding-left: 500px;
        padding-right: 500px;
    }
}