@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

#userinfo-container h2 {
  margin-bottom: 60px;
  font-family: "Graduate", serif;
  font-size: 30px;
  color: #124076;
}

#userinfo-container label {
  font-weight: 500;
  font-family: "Gowun Dodum", sans-serif;
  font-size: large;
  font-weight: 600;
}

#userinfo-container .profile-input input {
  width: 20rem;
  height: 25px;
  border: 1px solid #124076;
  border-radius: 20px;
  text-indent: 30px;
  margin-left: auto;
  margin-right: auto;
}

#userinfo-container .profile-input select {
  height: 30px;
  width: 20rem;
  border-radius: 5px;
  border: 1px solid #124076;
  background-color: white;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 600;
}

#userinfo-container {
  background-color: white;
  padding: 20px 20px 20px 20px;
}

#userinfo-container .profile-input {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0px 30px;
}

#userinfo-container #gender-container label:first-child {
  display: block;
  margin-bottom: 20px;
}

#userinfo-container #gender-container #male {
  margin-right: 15px;
}

#userinfo-container button {
 color: white;
  padding: 5px 60px;
  border: 2px solid #124076;
  background-color: #124076;
  font-family: "Gowun Dodum", sans-serif;
  font-size: large;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 100px;
}

#userinfo-container button:hover {
  color: black;
  background-color: white;
  border-color: black;
}

#userinfo-container .button-div {
  margin-top: 60px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1450px) {
  #userinfo-container {
      padding-left: 650px;
      padding-right: 650px;
  }
}